body {
    background-color:#f7f6f4;
}

#sidebar {
    position: relative;
    position: fixed;
    z-index: 10;
    width: 110px;
    height: 1080px; 
    float: left;
    background-color: #1f0f83;
    color: #efa003;
    text-align: center;
}

#sidebar-title {
    margin-top: 30px;
    padding: 20px 10px;
}


.workspace{
    font-size: small;
    border-top: 2px solid #efa003;
    border-bottom: 2px solid #efa003;
}


.side-botton {
    border-radius: 8px;
    width: 80px;
    height: 50px;
}

br::before {
	content: "\A" ;
	white-space: pre ;
}



#sidebar-body { 
    
    padding: 0px  ; 
}


.logout {
    position: absolute;
    left: 10px;
    bottom: 600px;
}

.createpost {
    position: absolute;
    left: 10px;
    bottom: 550px;
}


.logout button {
    color: #1f0f83;
}

.createpost button {
    background-color: #f9f1b5;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
}


h1{
    font-size: 24px;
    margin: 0px;
    padding: 30px 190px;
    color: #1f0f83;
}


#pictures{
    margin-left: 130px;
 
}

div.poster-pic{
    margin: 30px 10px 100px 70px;
    float: left;
    position: relative; 
} 

.img{
    width: 50px;
    height:50px;
}

div.post-head{
    display: flex;
    position:relative;
    z-index: 1;
}
.poster{
    width: 120px;  
    height: 50px;
    margin-right: 100px;
}

.poster1{
    font-size: 14.63px;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;  
    padding:0px;
    margin: 0px;
}

.poster2{
    font-size: 13.965px;
    text-overflow: ellipsis; 
    white-space: nowrap;  
    overflow: hidden;  
    padding:0px;
    margin:0px;
}

.many{
    width:50px;
    height:50px;
    text-align: right;

}

.fukidashi{

    position:absolute;
    top:65px;
    z-index: 2;
}

.top{

    width: 350px;
    height: 250px;
}

#hover {
    position: relative;
}

#hover:hover .fukidashi{
    display: inline;
}

.fukidashi {
    position   : absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color: #f9f1b5;          /* 背景色（透明度） */
    width: 300px;                     /* 吹き出し全体の幅 */
    left : 15px;                          /* 表示位置 */
    top : 80px;                           /* 表示位置 */
    margin-top : 12px;                    /* 表示位置 */
    font-size: 80%;                       /* 文字サイズ */
  }
  .fukidashi:after{
    border-bottom: 12px solid  #f9f1b5; /* 吹き出し口の高さ・色 */
    border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
    border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
    top: -12px;                             /* 吹き出し口の位置調整 */
    left : 5%;                              /* 吹き出し口の横位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }