body {
    background-color:#f7f6f4;
}

#sidebar {
    position: relative;
    position: fixed;
    z-index: 10;
    width: 110px;
    height: 1080px; 
    float: left;
    background-color: #1f0f83;
    color: #efa003;
    text-align: center;
}

#sidebar-title {
    margin-top: 30px;
    padding: 20px 10px;
}

.workspace{
    font-size: small;
    border-top: 2px solid #efa003;
    border-bottom: 2px solid #efa003;
}

.private {
    background-color: #f9f1b5;
}

#sidebar-body { 
    padding: 0px  ; 
}


.logout {
    position: absolute;
    left: 10px;
    bottom: 600px;
}

.logout button {
    color: #1f0f83;
}

.createpost button {
    background-color: #f9f1b5;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
}

.createpost {
    position: absolute;
    left: 10px;
    bottom: 550px;
}

.side-botton {
    border-radius: 8px;
    width: 80px;
    height: 50px;
}

/*コンテンツ*/

#contents {
    margin-left: 170px;
}

#contents ul {
    list-style: none;
}

#postuser {
    font-size: 14px;
}

#postuser-icon {
    width: 60px;
    height: 60px;
}

#post-date {
    font-size: 11px;
}

#postuser-info {
    position: relative;
    padding: 0px;
}

#title {
    position: absolute;
    left: 300px;
    top: 40px;
    font-size: 18px;
}

.on {
    margin-left: 40px;
    width: 675px;
    height: 450px;
}

#comment {
    position: fixed;
    margin-left: 140px;
    bottom: 5px;
}

#comment li {
    list-style: none;
    float: left;
}

#comment textarea {
    width: 900px;
    height: 80px;
}

#send {
    opacity: 0.4;
    width: 80px;
    height: 80px;
}

#nice button {
    color: #1f0f83;
    float: left;
    padding: 10px;
    margin-right: 25px;
    border-radius: 10px;
}

#nice p {
    display: inline-block;
    border-bottom: 2px solid red;
}

/*ここから吹き出し作成*/
#hover {
    position: relative;
}

#hover:hover .fukidashi{
    display: inline;
}

.fukidashi {
    position   : absolute;                /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;                         /* テキストの前後の余白 */
    background-color: #f9f1b5;       /* 背景色（透明度） */
    max-width: 300px;                          /* 吹き出し全体の幅 */
    left : 15px;                           /* 表示位置 */
    top : 80px;                           /* 表示位置 */
    margin-top : 12px;                    /* 表示位置 */
    font-size: 80%;                       /* 文字サイズ */
  }
  .fukidashi:after{
    border-bottom: 12px solid  #f9f1b5; /* 吹き出し口の高さ・色 */
    border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
    border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
    top: -12px;                             /* 吹き出し口の位置調整 */
    left : 5%;                              /* 吹き出し口の横位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }




/* スライドショー作成 */
.slides {
    padding: 0;
  }
  
  .display {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .display img {
    width: 500px;
    height: auto;
  }
  
  .index-btn-wrapper {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .index-btn {
    display: inline-block;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    cursor: pointer;
  }
  