body {
    background-color:#f7f6f4;
}

#sidebar {
    position: relative;
    position: fixed;
    width: 110px;
    height: 1080px; 
    float: left;
    background-color: #1f0f83;
    color: #efa003;
    text-align: center;
}

#sidebar-title {
    margin-top: 30px;
    padding: 20px 10px;
}

.workspace{
    font-size: small;
    border-top: 2px solid #efa003;
    border-bottom: 2px solid #efa003;
}


.side-botton {
    border-radius: 8px;
    width: 80px;
    height: 50px;
}

br::before {
	content: "\A" ;
	white-space: pre ;
}



#sidebar-body { 
    
    padding: 0px  ; 
}


.logout {
    position: absolute;
    left: 10px;
    bottom: 600px;
}

.createpost {
    position: absolute;
    left: 10px;
    bottom: 550px;
}


.logout button {
    color: #1f0f83;
}

.createpost button {
    background-color: #f9f1b5;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
}


h1{
    font-size: 24px;
    margin: 0px;
    padding: 30px 190px;
    color: #1f0f83;
}


#pictures{
    margin-left: 130px;
 
}

div.poster-pic{
    margin: 30px 50px 200px 70px;
    float: left;
    position: relative;
} 

.img{
    width: 50px;
    height:50px;
}

div.post-head{
    display: flex;
    position:relative;
    z-index: 1;
}
.poster{
    width: 120px;  
    height: 50px;
    margin-right: 100px;
}

.poster1{
    font-size: 14.63px;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden;  
    padding:0px;
    margin: 0px;
}

.poster2{
    font-size: 13.965px;
    text-overflow: ellipsis; 
    white-space: nowrap;  
    overflow: hidden;  
    padding:0px;
    margin:0px;
}

.many{
    width:50px;
    height:50px;
    text-align: right;

}

.top-position{
    position:absolute;
    top:65px;
    z-index: 1;
}

.poster-info-position{
    
    position:relative;
    z-index: 2;
}

.top{
    width: 350px;
    height: 250px;
}

p.poster-info {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background:  #ffe269;
    border: solid 3px #555;
    box-sizing: border-box;
    z-index: 2;
  }
      
p.poster-info:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 10%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid #ffe269;
    z-index: 3;
  }
      
p.poster-info:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 10%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 2;
    }
      
p.poster-info  {
    margin: 0;
    padding: 0;
      }
