body {
    background-color:#f7f6f4;
}

#sidebar {
    position: relative;
    position: fixed;
    z-index: 10;
    width: 110px;
    height: 1080px; 
    float: left;
    background-color: #efa003;
    color: #1f0f83;
}

#sidebar-title {
    border-top: 2px solid #1f0f83;
    border-bottom: 2px solid #1f0f83;
    margin-top: 30px;
    padding: 20px 10px;
}

#sidebar-body {
    float: left;
    padding-left: 0px; 
}

#sidebar li {
    float: left;
    list-style: none;
    padding: 10px 10px;
}

.sidebutton {
    border-radius: 8px;
    width: 80px;
    height: 50px;
}


.logout {
    position: absolute;
    top: 400px;
    left: 20px;
    color: #1f0f83;
}

.br::before {
	content: "\A" ;
	white-space: pre ;
}

h1 {
    font-size: 24px;
    margin: 0px;
    padding: 30px 190px;
    color: #1f0f83;
}

table {
    margin-left: 220px;
    text-align: center;
}

th {
    width: 100px;
    height: 20px;
    background-color: rgb(228, 214, 214);

}

td {
    padding: 5px 10px;
}