body{
    background-color: #f7f6f4;
}

.form-title{
    text-align:center;
    margin-top: 100px;
    color:  #1f0f83;
}

p.form-error{
    color: black;
}

.admin{
    text-align:center;
}

.form-error{
    color: gold;
}

div{
    text-align:center;
    background-color: #efa003;
    margin: 0 auto;
    padding: 50px;
    color: beige;
    width: 400px;
}
